@import '../../utils/colors/colors.scss';

.card {
   display: flex;
   flex-direction: column;
   width: 180px;
   height: 240px;
   border-radius: 10px;
   border: none;
   position: relative;
   // object-fit: contain;
}

.image {
   border-radius: 10px;
}

.text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   padding: 20px 10px 10px 10px;
   background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
   border-radius: 0 0 10px 10px;
   position: absolute;
   bottom: 0;
}

.t1 {
   font-size: 18px;
   font-weight: 900;
   color: $color_text1;
}

.t2 {
   font-size: 12px;
   font-weight: 400;
   color: $color_text1;
}