$color1: red;
$color2: blue;

.main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
   gap: 10px;

   // background-color: $color1;
   // &:hover{
   //    background-color: $color2;
   // }
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 210px;
   min-height: 270px;
   padding: 10px;
   border-radius: 10px;
   gap: 20px;
   background-color: blue;
}