@import '../../utils/colors/colors.scss';

.container {
   display: flex;
}

.input {
   max-width: 200px;
   width: 100%;
   padding: 10px;
   border: none;
   outline: none;
   border-radius: 6px 0  0 6px;
   background-color: $color_bg2;
}

.button {
   border: none;
   border-left: 0;
   padding: 10px;
   border-radius: 0 6px 6px 0;
   background-color: $color_bg3;
   font-weight: bold;

   &:hover {
      background-color: #000000af;
   }
}