.container {
   display: flex;
}

.input {
   max-width: 200px;
   width: 100%;
   padding: 10px;
   border: none;
   outline: none;
   border-radius: 6px 0  0 6px;
   background-color: rgba(0, 0, 0, 0.2);
}

.button {
   border: none;
   border-left: 0;
   padding: 10px;
   border-radius: 0 6px 6px 0;
   background-color: #00000075;

   &:hover {
      background-color: #000000af;
   }
}